
.App {
  text-align: center;
  font-family:monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f7f9fc;
}

.traffic-light {
  width: 100px;
  height: 250px;
  background-color: #2c3e50;
  border-radius: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}

.light {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: gray;
}

.light.active.red {
  background-color: #e74c3c;
}

.light.active.yellow {
  background-color: #f1c40f;
}

.light.active.green {
  background-color: #2ecc71;
}

.button-container {
  display: flex;
  gap: 10px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family:monospace;
}

.red-btn {
  background-color: #e74c3c;
  color: white;
}

.red-btn:hover {
  background-color: #c0392b;
}

.yellow-btn {
  background-color: #f1c40f;
  color: white;
}

.yellow-btn:hover {
  background-color: #d4ac0d;
}

.green-btn {
  background-color: #2ecc71;
  color: white;
}

.green-btn:hover {
  background-color: #27ae60;
}

.notes-section {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.notes-btns {
  display: flex;
  gap: 10px;
}

.send-note-btn {
  margin-top: 20px;
}

.delete-notes-btn {
  background-color: gray;
  margin-top: 20px;
}

textarea {
  width: 300px;
  height: 100px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #bdc3c7;
  font-size: 16px;
  resize: none;
}

.note-history {
  margin-top: 20px;
}

.note-history ul {
  list-style-type: none;
  padding: 0;
}

.note-history li {
  background-color: #f9f9f9; 
  padding: 8px;
  margin: 5px 0;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}